<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Turbla.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DE5CD001BF02B8E00F5F8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE5CD1C1BF02B8E00F5F8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE5CD271BF02B8E00F5F8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
